In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
df = pd.read_csv('oecd fertility rates.csv')

In [3]:
df

     LOCATION  INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
0         AUS  FERTILITY     TOT  CHD_WOMAN         A  1960   3.45         NaN
1         AUS  FERTILITY     TOT  CHD_WOMAN         A  1961   3.55         NaN
2         AUS  FERTILITY     TOT  CHD_WOMAN         A  1962   3.43         NaN
3         AUS  FERTILITY     TOT  CHD_WOMAN         A  1963   3.34         NaN
4         AUS  FERTILITY     TOT  CHD_WOMAN         A  1964   3.15         NaN
...       ...        ...     ...        ...       ...   ...    ...         ...
3234       EU  FERTILITY     TOT  CHD_WOMAN         A  2014   1.53         NaN
3235       EU  FERTILITY     TOT  CHD_WOMAN         A  2015   1.54         NaN
3236       EU  FERTILITY     TOT  CHD_WOMAN         A  2016   1.56         NaN
3237       EU  FERTILITY     TOT  CHD_WOMAN         A  2017   1.54         NaN
3238       EU  FERTILITY     TOT  CHD_WOMAN         A  2018   1.53         NaN

[3239 rows x 8 columns]

In [4]:
len(df['LOCATION'].unique())

54

In [5]:
new_df = df[df['LOCATION'] == 'AUS'][['TIME','Value']].rename(columns = {'Value': 'AUS'})

In [6]:
new_df.merge(df[df['LOCATION'] == 'AUT'][['TIME','Value']], on = 'TIME', how = 'outer').rename(columns={'Value':'AUT'})

    TIME   AUS   AUT
0   1960  3.45  2.69
1   1961  3.55  2.78
2   1962  3.43  2.80
3   1963  3.34  2.82
4   1964  3.15  2.79
..   ...   ...   ...
56  2016  1.79  1.53
57  2017  1.74  1.52
58  2018  1.74  1.48
59  2019  1.66  1.46
60  2020  1.58  1.44

[61 rows x 3 columns]

In [7]:
#create more readable dataframe for fertility rates
for country in df['LOCATION'].unique()[1:]:
  temp = df[df['LOCATION'] == country][['TIME','Value']].rename(columns={'Value':country})
  new_df = new_df.merge(temp, on = 'TIME', how = 'outer')

In [8]:
new_df

,TIME,AUS,AUT,BEL,CAN,CZE,DNK,FIN,FRA,DEU,...,BGR,HRV,CYP,MLT,ROU,SAU,OAVG,PER,CRI,EU
0,1960,3.45,2.69,2.54,3.90,2.11,2.54,2.71,2.74,2.37,...,2.31,2.20,NaN,NaN,NaN,7.22,3.34,6.94,6.71,2.62
1,1961,3.55,2.78,2.63,3.84,2.13,2.55,2.65,2.82,2.44,...,2.29,2.19,NaN,NaN,NaN,7.23,3.33,6.92,6.65,2.62
2,1962,3.43,2.80,2.59,3.76,2.14,2.54,2.66,2.80,2.44,...,2.24,2.17,NaN,NaN,NaN,7.24,3.30,6.90,6.54,2.61
3,1963,3.34,2.82,2.68,3.67,2.33,2.64,2.66,2.90,2.51,...,2.21,2.12,NaN,NaN,NaN,7.25,3.30,6.86,6.39,2.65
4,1964,3.15,2.79,2.72,3.50,2.36,2.60,2.58,2.91,2.53,...,2.19,2.12,NaN,NaN,NaN,7.26,3.28,6.81,6.19,2.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,1.74,1.52,1.64,1.50,1.69,1.75,1.49,1.86,1.57,...,1.56,1.42,1.32,1.26,1.71,2.37,1.66,2.28,1.77,1.54
58,2018,1.74,1.48,1.61,1.50,1.71,1.73,1.41,1.84,1.57,...,1.56,1.47,1.32,1.23,1.76,2.32,1.63,2.25,1.75,1.53
59,2019,1.66,1.46,1.57,1.47,1.71,1.70,1.35,1.83,1.54,...,1.58,1.47,1.33,1.14,1.76,2.28,1.61,2.23,1.74,NaN
60,2020,1.58,1.44,1.72,1.50,1.71,1.67,1.37,1.79,1.53,...,1.59,1.42,1.31,1.48,1.64,2.24,1.59,2.21,1.72,NaN
61,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(new_df.columns)

55

In [10]:
#Make sure that Korea had lowest fertility rate since 2013 (Korea's fertility rate should be the last nine numbers listed here)
for i in np.arange(len(new_df.min(axis = 1))):
  print(new_df.min(axis = 1)[i])

1.94
1.94
1.79
1.82
1.79
1.74
1.58
1.8
1.83
1.86
1.83
1.7
1.59
1.5
1.53
1.48
1.48
1.49
1.47
1.47
1.5
1.44
1.43
1.38
1.39
1.37
1.37
1.35
1.38
1.35
1.36
1.33
1.29
1.26
1.2
1.17
1.16
1.09
1.1
1.13
1.14
1.15
1.17
1.18
1.16
1.09
1.13
1.25
1.19
1.15
1.23
1.24
1.28
1.19
1.21
1.24
1.17
1.05
0.98
0.92
0.84
0.81

# Change of rate (find countries with the fastest growing/dropping fertilty rates)

In [11]:
rate_df = pd.DataFrame()
rate = []
state = []

In [12]:
for country in df['LOCATION'].unique():
  rate.append(((new_df[country][60] - new_df[country][50])/10))
  state.append(country)

In [13]:
rate_df['Rate of change 2010-2020'] = rate
rate_df['Country'] = state

In [14]:
rate_df.sort_values(by='Rate of change 2010-2020', ascending = False, inplace = True, ignore_index = True)
rate_df

    Rate of change 2010-2020 Country
0                      0.038     LVA
1                      0.026     HUN
2                      0.026     RUS
3                      0.022     CZE
4                      0.019     LTU
5                      0.014     DEU
6                      0.013     SVK
7                      0.012     MLT
8                      0.007     CHN
9                      0.005     ROU
10                     0.003     SVN
11                     0.002     BGR
12                     0.001     PRT
13                     0.000     POL
14                     0.000     AUT
15                    -0.001     ESP
16                    -0.006     JPN
17                    -0.008     CHE
18                    -0.009     BRA
19                    -0.012     BEL
20                    -0.012     ARG
21                    -0.013     ISR
22                    -0.013     CYP
23                    -0.013     CAN
24                    -0.013     HRV
25                    -0.014     EST
26                    -0.016    OAVG
27                    -0.017     CRI
28                    -0.020     ITA
29                    -0.020     GRC
30                    -0.020     DNK
31                    -0.021     IDN
32                    -0.022     COL
33                    -0.023     FRA
34                    -0.024     ZAF
35                    -0.025     NLD
36                    -0.026     MEX
37                    -0.026     LUX
38                    -0.027     CHL
39                    -0.029     USA
40                    -0.032     TUR
41                    -0.032     SWE
42                    -0.034     PER
43                    -0.036     GBR
44                    -0.037     AUS
45                    -0.039     KOR
46                    -0.040     IND
47                    -0.042     IRL
48                    -0.047     NOR
49                    -0.048     ISL
50                    -0.050     FIN
51                    -0.056     NZL
52                    -0.073     SAU
53                       NaN      EU

# Percent change (2010-2020)

In [15]:
change_df = pd.DataFrame()
perc = []
count = []
year2010 = []
year2020 = []

In [16]:
new_df

,TIME,AUS,AUT,BEL,CAN,CZE,DNK,FIN,FRA,DEU,...,BGR,HRV,CYP,MLT,ROU,SAU,OAVG,PER,CRI,EU
0,1960,3.45,2.69,2.54,3.90,2.11,2.54,2.71,2.74,2.37,...,2.31,2.20,NaN,NaN,NaN,7.22,3.34,6.94,6.71,2.62
1,1961,3.55,2.78,2.63,3.84,2.13,2.55,2.65,2.82,2.44,...,2.29,2.19,NaN,NaN,NaN,7.23,3.33,6.92,6.65,2.62
2,1962,3.43,2.80,2.59,3.76,2.14,2.54,2.66,2.80,2.44,...,2.24,2.17,NaN,NaN,NaN,7.24,3.30,6.90,6.54,2.61
3,1963,3.34,2.82,2.68,3.67,2.33,2.64,2.66,2.90,2.51,...,2.21,2.12,NaN,NaN,NaN,7.25,3.30,6.86,6.39,2.65
4,1964,3.15,2.79,2.72,3.50,2.36,2.60,2.58,2.91,2.53,...,2.19,2.12,NaN,NaN,NaN,7.26,3.28,6.81,6.19,2.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,1.74,1.52,1.64,1.50,1.69,1.75,1.49,1.86,1.57,...,1.56,1.42,1.32,1.26,1.71,2.37,1.66,2.28,1.77,1.54
58,2018,1.74,1.48,1.61,1.50,1.71,1.73,1.41,1.84,1.57,...,1.56,1.47,1.32,1.23,1.76,2.32,1.63,2.25,1.75,1.53
59,2019,1.66,1.46,1.57,1.47,1.71,1.70,1.35,1.83,1.54,...,1.58,1.47,1.33,1.14,1.76,2.28,1.61,2.23,1.74,NaN
60,2020,1.58,1.44,1.72,1.50,1.71,1.67,1.37,1.79,1.53,...,1.59,1.42,1.31,1.48,1.64,2.24,1.59,2.21,1.72,NaN
61,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
for country in df['LOCATION'].unique():
  perc.append(((new_df[country][60] - new_df[country][50])/new_df[country][50])*100)
  count.append(country)
  year2010.append(new_df[country][50])
  year2020.append(new_df[country][60])

In [18]:
 change_df['Percent Change 2010-2020'] = perc
 change_df['Country'] = count
 change_df['2010'] = year2010
 change_df['2020'] = year2020

In [19]:
change_df

    Percent Change 2010-2020 Country  2010  2020
0                 -18.974359     AUS  1.95  1.58
1                   0.000000     AUT  1.44  1.44
2                  -6.521739     BEL  1.84  1.72
3                  -7.975460     CAN  1.63  1.50
4                  14.765101     CZE  1.49  1.71
5                 -10.695187     DNK  1.87  1.67
6                 -26.737968     FIN  1.87  1.37
7                 -11.386139     FRA  2.02  1.79
8                  10.071942     DEU  1.39  1.53
9                 -13.513514     GRC  1.48  1.28
10                 20.634921     HUN  1.26  1.52
11                -21.818182     ISL  2.20  1.72
12                -20.487805     IRL  2.05  1.63
13                -13.888889     ITA  1.44  1.24
14                 -4.316547     JPN  1.39  1.33
15                -31.707317     KOR  1.23  0.84
16                -15.950920     LUX  1.63  1.37
17                -11.111111     MEX  2.34  2.08
18                -13.888889     NLD  1.80  1.55
19                -25.806452     NZL  2.17  1.61
20                -24.102564     NOR  1.95  1.48
21                  0.000000     POL  1.38  1.38
22                  0.719424     PRT  1.39  1.40
23                  9.285714     SVK  1.40  1.53
24                 -0.729927     ESP  1.37  1.36
25                -16.161616     SWE  1.98  1.66
26                 -5.194805     CHE  1.54  1.46
27                -15.384615     TUR  2.08  1.76
28                -18.750000     GBR  1.92  1.56
29                -15.025907     USA  1.93  1.64
30                 -5.000000     BRA  1.80  1.71
31                -14.361702     CHL  1.88  1.61
32                  4.294479     CHN  1.63  1.70
33                 -8.139535     EST  1.72  1.58
34                -15.503876     IND  2.58  2.18
35                 -8.467742     IDN  2.48  2.27
36                 -4.290429     ISR  3.03  2.90
37                 16.560510     RUS  1.57  1.83
38                  1.910828     SVN  1.57  1.60
39                 -9.230769     ZAF  2.60  2.36
40                -11.055276     COL  1.99  1.77
41                 27.941176     LVA  1.36  1.74
42                 12.666667     LTU  1.50  1.69
43                 -5.106383     ARG  2.35  2.23
44                  1.273885     BGR  1.57  1.59
45                 -8.387097     HRV  1.55  1.42
46                 -9.027778     CYP  1.44  1.31
47                  8.823529     MLT  1.36  1.48
48                  3.144654     ROU  1.59  1.64
49                -24.579125     SAU  2.97  2.24
50                 -9.142857    OAVG  1.75  1.59
51                -13.333333     PER  2.55  2.21
52                 -8.994709     CRI  1.89  1.72
53                       NaN      EU  1.58   NaN

Now let's combine the population to each country.

In [20]:
pop_df = pd.read_csv('oecd_populations.csv')
pop_df = pop_df[pop_df['TIME'] == 2020]

In [21]:
pop_df.head()

   LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value  Flag Codes
2       AUS       POP     TOT  MLN_PER         A  2020  25.693267         NaN
6       AUT       POP     TOT  MLN_PER         A  2020   8.916845         NaN
10      BEL       POP     TOT  MLN_PER         A  2020  11.506938         NaN
14      CAN       POP     TOT  MLN_PER         A  2020  38.037204         NaN
18      CZE       POP     TOT  MLN_PER         A  2020  10.700155         NaN

In [22]:
pop_df = pop_df[['LOCATION', 'Value']].reset_index()
pop_df.loc[41, 'LOCATION'] = 'OAVG'

In [23]:
pop_df = pop_df[['LOCATION', 'Value']].rename(columns={'LOCATION':'Country', 'Value': 'Population'})

In [24]:
pop_df

   Country   Population
0      AUS    25.693267
1      AUT     8.916845
2      BEL    11.506938
3      CAN    38.037204
4      CZE    10.700155
5      DNK     5.825337
6      FIN     5.529545
7      FRA    67.540257
8      DEU    83.160874
9      GRC    10.698597
10     HUN     9.750153
11     ISL     0.366462
12     IRL     4.977443
13     ITA    59.438845
14     JPN   126.146099
15     KOR    51.836239
16     LUX     0.630413
17     MEX   127.792286
18     NLD    17.441500
19     NZL     5.090200
20     NOR     5.379472
21     POL    38.354173
22     PRT    10.297080
23     SVK     5.458827
24     ESP    47.355685
25     SWE    10.353444
26     CHE     8.638169
27     TUR    83.384688
28     GBR    67.081234
29     USA   331.501080
30     BRA   211.755692
31     CHL    19.458310
32     COL    50.911747
33     EST     1.329479
34     ISR     9.215113
35     RUS   146.459803
36     SVN     2.100126
37     CHN  1424.929783
38     IND  1396.387126
39     IDN   269.603400
40     ZAF    59.352940
41    OAVG  1371.703863
42     LVA     1.900448
43     ARG    45.376763
44     BGR     6.934015
45     CRI     5.111238
46     HRV     4.047680
47     CYP     0.892006
48     LTU     2.794890
49     MLT     0.515330
50     ROU    19.269469
51     SAU    35.013414
52     SGP     4.044210
53     WLD  7840.952880
54     G20  4888.070573
55    EU27   447.719555

In [25]:
change_df = change_df.merge(pop_df, on = 'Country', how='inner')

In [26]:
names_df = pd.read_csv('country names.csv')

In [27]:
change_df = change_df.merge(names_df, left_on = 'Country', right_on = 'abbrev', how = 'outer')

In [28]:
change_df.sort_values(by='Percent Change 2010-2020', ascending = True, ignore_index = True)

,Percent Change 2010-2020,Country,2010,2020,Population,name,abbrev
0,-31.707317,KOR,1.23,0.84,51.836239,South Korea,KOR
1,-26.737968,FIN,1.87,1.37,5.529545,Finland,FIN
2,-25.806452,NZL,2.17,1.61,5.090200,New Zealand,NZL
3,-24.579125,SAU,2.97,2.24,35.013414,Saudi Arabia,SAU
4,-24.102564,NOR,1.95,1.48,5.379472,Norway,NOR
5,-21.818182,ISL,2.20,1.72,0.366462,Iceland,ISL
6,-20.487805,IRL,2.05,1.63,4.977443,Ireland,IRL
7,-18.974359,AUS,1.95,1.58,25.693267,Australia,AUS
8,-18.750000,GBR,1.92,1.56,67.081234,United Kingdom,GBR
9,-16.161616,SWE,1.98,1.66,10.353444,Sweden,SWE
10,-15.950920,LUX,1.63,1.37,0.630413,Luxembourg,LUX
11,-15.503876,IND,2.58,2.18,1396.387126,India,IND
12,-15.384615,TUR,2.08,1.76,83.384688,Turkey,TUR
13,-15.025907,USA,1.93,1.64,331.501080,United States,USA
14,-14.361702,CHL,1.88,1.61,19.458310,Chile,CHL
15,-13.888889,NLD,1.80,1.55,17.441500,Netherlands,NLD
16,-13.888889,ITA,1.44,1.24,59.438845,Italy,ITA
17,-13.513514,GRC,1.48,1.28,10.698597,Greece,GRC
18,-11.386139,FRA,2.02,1.79,67.540257,France,FRA
19,-11.111111,MEX,2.34,2.08,127.792286,Mexico,MEX
20,-11.055276,COL,1.99,1.77,50.911747,Colombia,COL
21,-10.695187,DNK,1.87,1.67,5.825337,Denmark,DNK
22,-9.230769,ZAF,2.60,2.36,59.352940,South Africa,ZAF
23,-9.142857,OAVG,1.75,1.59,1371.703863,NaN,NaN
24,-9.027778,CYP,1.44,1.31,0.892006,Cyprus,CYP
25,-8.994709,CRI,1.89,1.72,5.111238,Costa Rica,CRI
26,-8.467742,IDN,2.48,2.27,269.603400,Indonesia,IDN
27,-8.387097,HRV,1.55,1.42,4.047680,Croatia,HRV
28,-8.139535,EST,1.72,1.58,1.329479,Estonia,EST
29,-7.975460,CAN,1.63,1.50,38.037204,Canada,CAN
30,-6.521739,BEL,1.84,1.72,11.506938,Belgium,BEL
31,-5.194805,CHE,1.54,1.46,8.638169,Switzerland,CHE
32,-5.106383,ARG,2.35,2.23,45.376763,Argentina,ARG
33,-5.000000,BRA,1.80,1.71,211.755692,Brazil,BRA
34,-4.316547,JPN,1.39,1.33,126.146099,Japan,JPN
35,-4.290429,ISR,3.03,2.90,9.215113,Israel,ISR
36,-0.729927,ESP,1.37,1.36,47.355685,Spain,ESP
37,0.000000,AUT,1.44,1.44,8.916845,Austria,AUT
38,0.000000,POL,1.38,1.38,38.354173,Poland,POL
39,0.719424,PRT,1.39,1.40,10.297080,Portugal,PRT
40,1.273885,BGR,1.57,1.59,6.934015,Bulgaria,BGR
41,1.910828,SVN,1.57,1.60,2.100126,Slovenia,SVN
42,3.144654,ROU,1.59,1.64,19.269469,Romania,ROU
43,4.294479,CHN,1.63,1.70,1424.929783,China,CHN
44,8.823529,MLT,1.36,1.48,0.515330,Malta,MLT
45,9.285714,SVK,1.40,1.53,5.458827,Slovakia,SVK
46,10.071942,DEU,1.39,1.53,83.160874,Germany,DEU
47,12.666667,LTU,1.50,1.69,2.794890,Lithuania,LTU
48,14.765101,CZE,1.49,1.71,10.700155,Czech Republic,CZE
49,16.560510,RUS,1.57,1.83,146.459803,Russia,RUS
50,20.634921,HUN,1.26,1.52,9.750153,Hungary,HUN
51,27.941176,LVA,1.36,1.74,1.900448,Latvia,LVA

In [29]:
#change_df.sort_values(by='name', ascending = True, inplace = True, ignore_index = True)

In [30]:
#change_df

In [31]:
filepath = Path('final oecd fertility rates.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
new_df.to_csv(filepath)

In [32]:
filepath = Path('perc change fertility.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
change_df.to_csv(filepath)